.pyre/
.pytype/

*.idea
*.log
*.pot
*.pyc
*.xml
*.iml
*.cpython-39*
.ipynb_checkpoints

__pycache__/
__pycache__/*
__pypackages__/

venv/

.env
.env_uat
.env_live

fireblocks.csr
fireblocks_secret.key
rsa_key.pem
fastapi_starter/__init__.py
/hitesh_fastapi_starter.egg-info
